/* breakpoints for different screen sizes */
@media (min-width: 320px) {
    body {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 24px;
    }
    .nav-bar-right {
        display: flex;
    }
    .hamburger-icon {
        display: none;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 28px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Martel";
    scroll-behavior: smooth;
    background-color: #F8F8FF;
}

/* --- Navigation Bar --- */

.nav-bar {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    height: 2.5em;
    width: 100%;
    background-color: #F8F8FF;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 20%;
    line-height: 0;
}

.nav-bar-left {
    height: auto;
    width: 3.5em;
}

.nav-bar-right {
    display: none;
    gap: 0.1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.tab {
    background-color: transparent;
    margin: 0;
    padding: 0.5em 1em;
    text-decoration: none; /* no link underline */
    color: #333;
    font-size: small;
    border: 2px solid transparent;
}

.tab:hover {
    border: 2px solid #537D5D;
    border-radius: 8px;
    color: #537D5D;
}

.active {
    border: 2px solid #537D5D;
    border-radius: 8px;
    color: #537D5D;
}

.hamburger-icon {
    display: block;
}

/* headers for each section */
h4 {
    margin: 0;
    font-size: 1em;
    font-weight: 800;
    color: #73946B;
}

/* --- Home Section --- */

#home {
    display: flex;
    height: 100vh;
    width: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* black overlay */
        url("assets/accountant-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-container {
    height: 50%;
    width: 100%;
    margin: 12em 20% 0em 20%; /* top | right | bottom | left */
    color: white;
}

.home-header {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 1.75em;
    font-weight: 800;
}

.home-body {
    margin: 0;
    font-size: 0.75em;
}

/* --- About Section --- */

#about {
    margin: 1.75em 20% 1.75em 20%;
}

/* --- Services Section --- */

#services {
    margin: 1.75em 20% 1.75em 20%;
}

/* --- Contact Section --- */

#contact {
    margin: 1.75em 20% 1.75em 20%;
}