.main-view {
    padding: 10px 200px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar-left {
    width: 100px;
}

.nav-bar-right {
    display: flex;
    gap: 3px;
}

.tab {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 8px 15px;
    text-decoration: none; /* no link underline */
    color: black;
    border: 2px solid transparent;
}

.tab:hover {
    border: 2px solid #537D5D;
    border-radius: 5px;
    color: #537D5D;
}

.active {
    border: 2px solid #537D5D;
    border-radius: 5px;
    color: #537D5D;
}