:root {
  --horiz-margin: 1.75em;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Martel";
    scroll-behavior: smooth;
    background-color: #F8F8FF;
}

/* --- Navigation Bar --- */

.nav-bar {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    height: 2.5em;
    width: 100%;
    background-color: #F8F8FF;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 var(--horiz-margin);
    line-height: 0;
}

.nav-bar-left {
    height: auto;
    width: 5em;
}

.nav-bar-right {
    display: none;
    gap: 0.1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.tab {
    background-color: transparent;
    margin: 0;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #333;
    font-size: 0.5em;
    border: 2px solid transparent;
}

.tab:hover {
    border: 2px solid #537D5D;
    border-radius: 8px;
    color: #537D5D;
}

.active {
    border: 2px solid #537D5D;
    border-radius: 8px;
    color: #537D5D;
}

.hamburger-icon {
    display: block;
    background-color: #F8F8FF;
    color: #537D5D;
    border: 2px solid #537D5D;
    border-radius: 8px;
}

#vertical-nav-container {
    display: none;
    position: fixed;
    top: 2.5em;
    width: 100vw;
    background-color: #F8F8FF;
    font-size: 0.75em;
}

#vertical-nav-container ul {
    margin-bottom: 0;
}

#vertical-nav-container li {
    padding: 0.5em 1em;
    border-top: 2px solid #D3D3D3;
    font-size: 0.75em;
}

#vertical-nav-container a {
    display: block;
    color: #808080;
    text-decoration: none;
}

/* headers for each section */
h4 {
    margin: 0;
    font-size: 1em;
    font-weight: 800;
    color: #73946B;
}

p {
    font-size: 0.5em;
}

/* --- Home Section --- */

#home {
    display: flex;
    height: 100vh;
    width: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* black overlay */
        url("assets/accountant-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-container {
    height: 50%;
    width: 100%;
    margin: 30vh var(--horiz-margin); /* top | right | bottom | left */
    color: white;
}

.home-header {
    margin: 0;
    font-size: 1.75em;
    font-weight: 800;
}

.home-body {
    font-size: 0.75em;
}

.contact-button {
    background-color: #537D5D;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #F8F8FF;
    font-size: 0.65em;
    font-weight: 700;
    border-radius: 8px;
}

/* --- About Section --- */

#about {
    margin: 1.75em var(--horiz-margin);
}

/* --- Services Section --- */

#services {
    margin: 1.75em var(--horiz-margin);
}

/* --- Contact Section --- */

#contact {
    margin: 1.75em var(--horiz-margin);
}

/* --- Breakpoints for different screen sizes --- */

@media (min-width: 320px) {
    body {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 24px;
    }
    :root {
        --horiz-margin: 22%;
    }
    .nav-bar-right {
        display: flex;
    }
    .hamburger-icon {
        display: none;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 28px;
    }
}