:root {
  --horiz-margin: 1.25em;
  --primary-color: #537D5D;
  --secondary-color: #73946B;
  --background-color: #F8F8FF;
  --bg-secondary: #E8E7E3;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Martel";
    scroll-behavior: smooth;
    color: #333;
    background-color: var(--background-color);
}

/* --- Navigation Bar --- */

.nav-bar {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    height: 3em;
    width: 100%;
    background-color: var(--background-color);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 var(--horiz-margin);
    line-height: 0;
}

.nav-bar-left {
    height: auto;
    width: 5em;
}

.nav-bar-right {
    display: none;
    gap: 0.1em;
    list-style-type: none;
    padding: 0;
}

.tab {
    background-color: transparent;
    margin: 0;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #333;
    font-size: 0.65em;
    border: 2px solid transparent;
}

.tab:hover {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
}

.active {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
}

.hamburger-icon {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: none;
}

.vertical-nav-container {
    position: fixed;
    top: 3em;
    width: 100vw;
    background-color: var(--background-color);
    font-size: 0.75em;

    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none; /* prevents clicking when hidden */
}

.vertical-nav-container.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.vertical-nav-container ul {
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
}

.vertical-nav-container li {
    padding: 0.5em 1em;
    border-top: 2px solid #D3D3D3;
    font-size: 0.85em;
}

.vertical-nav-container a {
    display: block;
    color: #808080;
    text-decoration: none;
}

/* headers for each section */
h4 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 800;
    color: var(--secondary-color);
}

/* subheaders within sections */
h5 {
    margin: 0;
    font-size: 1em;
    font-weight: 800;
    color: var(--secondary-color);
}

p {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 0.75em;
}

/* --- Home Section --- */

#home {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* black overlay */
        url("assets/accountant-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home-container {
    height: fit-content;
    width: 100%;
    margin: 0 var(--horiz-margin);
    color: var(--background-color);
}

#home-header {
    margin: 0;
    font-size: 2em;
    font-weight: 800;
}

#home-body {
    font-size: 1em;
}

.contact-button {
    background-color: var(--primary-color);
    padding: 0.75em 1.25em;
    text-decoration: none;
    color: var(--background-color);
    font-size: 0.75em;
    font-weight: 700;
    border-radius: 8px;
}

/* --- About Section --- */

#about {
    margin: 1.75em var(--horiz-margin);
    scroll-margin-top: 3em;
}

#about ul {
    margin: 0.5em 0;
}

#about li {
    font-size: 0.75em;
}

/* --- Services Section --- */

#services {
    margin: 1.75em var(--horiz-margin);
    scroll-margin-top: 3em;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}

.service-card {
    background-color: white;
    padding: 1em;
    border: 2px solid #D3D3D3;
    border-radius: 8px;
}

.service-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.service-name {
    border-bottom: 2px solid #D3D3D3;
}

/* --- Contact Section --- */

#contact {
    display: flex;
    flex-direction: column;
    margin: 1.75em var(--horiz-margin);
    scroll-margin-top: 3em;
}

#contact p {
    margin: 0;
}

.contact-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
}

/* --- Footer --- */

footer {
    margin: 0;
    padding: 1.75em 1em;
    color: #808080;
    background-color: var(--bg-secondary);
    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: var(--primary-color);
}

/* --- Breakpoints for different screen sizes --- */

/* default is mobile view */
/* 480-768px is tablet view */
/* 1025px+ is desktop view */

@media (min-width: 480px) {
    body {
        font-size: 20px;
    }

    .nav-bar-right {
        display: flex;
    }
    .hamburger-icon {
        display: none;
    }

    .services-container {
        flex-direction: row;
    }
}

@media (min-width: 1025px) {
    body {
        font-size: 20px;
    }
    :root {
        --horiz-margin: 22%;
    }
}